/* .body {font-family: 'Noto Sans KR ', sans-serif;
    font-family: '', sans-serif;} */
.center {
    justify-content: center;
    align-items: center;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb1 {
    padding-bottom: 8;
}
